* {
    font-size: 100%;
    /* font-family: Arial; */
   }

body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2mQJQPdej10oiZIfxubgV-p4ZJHmbKwHYZzpgJDhqpsUBV8rhXaEUXZCpySuV0VoGs1g&usqp=CAU');
    
}

header {
    
    text-align: center;
    padding: 15px;
    font-size: 30px;
    color: brown;
    -webkit-text-stroke: 1.2px black; 
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    font-family: Comic Sans MS;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 5px 5px 5px brown;
}

.row {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.mainSection {
    
    margin: auto;
    width:400px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(220, 220, 220, .9);
    outline: 1px solid;
   border-radius: .55rem;
}

.divTitles {
    font-weight: bold;
    font-size: 30px;
    color: brown; 
    -webkit-text-stroke: .6px black; 
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: center;
    font-family: Trebuchet MS;
}

footer {
    
    padding: 20px;
    font-size: 17px;
    color:brown;
    -webkit-text-stroke: .4px black; 
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 5px 5px 5px brown;
    
}

button {
    background-color: brown;
    color: white;
    transition: background-color .5s;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border-radius: .55rem;
}

button:hover {
    background-color: white;
    
}

.button {
    padding: 20px;
}

#commentList {
    list-style-type: none;
}

.comment {
    padding: 5px;
    position: relative;
    background: brown;
    border-radius: .55rem;
    margin: 10px;
    text-align: center;
    color: white;
    font-family: Trebuchet MS;

}
.brandName {
    padding: 5px;
    position: relative;
    background: brown;
    border-radius: .55rem;
    margin: 10px;
    text-align: center;
    color: white;
    font-family: Trebuchet MS;
    transition: background-color .5s;
}
.brandName:hover {
    background-color: white;
}

input[type = submit] {
    background-color: brown;
    color: white;
    transition: background-color .5s;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border-radius: .55rem;
}

input[type = submit]:hover {
    background-color: white;
}

label {
    font-family: Trebuchet MS;
}

input[type = text] {
    border-radius: .55rem;
    margin: 10px;
}

#name, #description {
    font-family: Trebuchet MS;

}

#brand {
    font-family: Trebuchet MS;
    font-size: 20px;
}
 .siteTitle {
     font-size: 70px;
     margin-bottom: 0px;
     margin-top: 10px;
}

#image {
    display: block;
    border-radius: .55rem;
    -webkit-text-stroke: .4px black; 
    -webkit-font-smoothing: antialiased;
    outline: 1px solid;
    margin-left: auto;
    margin-right: auto;
}