body {
    background: grey;
    color: white;
}

header {
    padding: 20px
}

section {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    background: blue;
    margin: auto;
    width: 200px;
}

footer {
    padding: 20px
}