body {
    background: lightgray;
}

header {
    background: gray;
    padding: 20px
}

.row {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.mainSection {
    background: darkgray;
    margin: auto;
    width:400px;
    margin: 10px;
    padding: 20px;
}

.divTitles {
    font-weight: bold;
}

footer {
    background: gray;
    padding: 20px
}